 <div id="loginForm" style="display: none;">
                    <h2>Login</h2>
                    <form action="/login" method="POST">
                        <div class="input-group">
                            <input type="email" name="email" placeholder="Your Email *" required>
                        </div>
                        <div class="input-group">
                            <input type="password" name="password" placeholder="Your Password *" required>
                        </div>
                        <button type="submit" class="register-btn">Login</button>
                    </form>
</div>